@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Playfair+Display&display=swap');

h1,h3,h5,h6,a {
  font-family: "Playfair Display";
  color: #2f2724;
}
p,h4,h2,a {
  font-family: "Josefin Sans";
  color: #2f2724;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
#navbar{
  background: white;
}
#navbar .NavContent > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.NavContent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
  transition: transform 0.4s;
  background: white;
}
.scrollDown .NavContent {
  transform: translateY(-100%);
}

.scrollUp .NavContent {
  transform: translateY(0);
}


.project-item .project-info {
  background: white;
}

.link-button-primary {
  cursor: pointer;
}

.link-button-primary:hover {
  background: rgb(251, 243, 240);
}
.close-button {
  cursor: pointer;
}

/* PROJECT ITEM */
.modal-body {
  max-width: 800px;
}
.modal-body .modal-subheading {
  font-size: 200%;
  color: rgb(45, 40, 36);
}
/* MOBILE */
@media (max-width: 991px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #projectItemModal {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    padding: 1rem !important;
  }
  nav > div {
    padding-left: 1rem;
    padding-right: 1rem;
  }  
  
  .project-item {
    height: 500px;
    display: initial;
  }
  .project-item .project-image {
    width: 100%;
    height: 300px;
  }
  .project-item .project-info {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  #projectItemModal {
    top: 1rem !important;
    bottom: 1rem !important;
    left: 1rem !important;
    right: 1rem !important;
    padding: 5rem !important;
  }
  .project-item {
    height: 100vh;
    width: 100%;
    display: flex;
    padding-bottom: 5rem;
  }
  .project-item:nth-child(even) .project-info {
    transform: translateX(-5rem);
  }
  .project-item:nth-child(odd) .project-info {
    transform: translateX(5rem);
  }
  .project-item .project-info {
    width: 33.33%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
  }
  .project-item .project-info p {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .project-item .project-image {
    width: 66.66%;
    height: inherit;
  }
  .project-item:nth-child(odd) {
    flex-direction: row-reverse !important;
  }
}

/* PROJECT PAGE */
.project-page {
  min-height: 90%;
  width: 100%;
  padding-top: 5rem;
}
.project-page .modal-subheading {
  font-size: 200%;
}
#nextProject {
  text-align: right;
  margin-top: 5rem;
  background: rgb(247, 232, 225);
  padding: 5rem 0;
}

/* FOOTER */
#contact {
  text-align: center;
}